<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="sqlSession" class="kr.co.ucp.cmm.bean.RefreshableSqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource-${Globals.dbType}"/>
        <property name="configLocation" value="classpath:/ucp/sqlmap/sql-mapper-config.xml"/>
        <property name="mapperLocations" value="classpath:/ucp/sqlmap/${Globals.dbType}/**/*.xml"/>
        <!-- RefreshableSqlSessionFactoryBean property 반영 주기 -->
        <property name="interval" value="1000"/>
    </bean>

    <!-- MapperConfigurer setup for MyBatis Database Layer with @Mapper("deptMapper") in DeptMapper Interface -->
    <!--   bean class="egovframework.rte.psl.dataaccess.mapper.MapperConfigurer">
       <property name="basePackage" value="kr.co.ucp.**.service.impl" />
   </bean -->
    <!--
    <bean id="sqlSession-sms" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource-sms"/>
        <property name="configLocation" value="classpath:/ucp/sqlmap/sql-mapper-config-sms.xml" />
    </bean>
     -->
    <!-- MapperConfigurer setup for MyBatis Database Layer with @Mapper("deptMapper") in DeptMapper Interface -->
    <bean class="egovframework.rte.psl.dataaccess.mapper.MapperConfigurer">
        <property name="basePackage" value="kr.co.ucp.**.service"/>
    </bean>

</beans>
