/* override openlayers */
.olMapViewport {
	z-index: 28;
}

.olControlMousePosition {
	position: absolute;
	display: block;
	right: 5px;
	bottom: 5px;
}

.olControlScaleLine {
	position: absolute;
	display: block;
	bottom: 5px;
	left: 5px;
}

.olControlScaleLineTop {
	border: solid 1px #000;
	border-top: none;
	text-align: center;
}

.olPopupContent, .olFramedCloudPopupContent {
	overflow: auto;
	background-color: #FFF;
}

.olPopupCloseBox {
	background: #fff;
	cursor: pointer;
	border: solid 1px #999;
	border-radius: 3px;
	padding: 0px 0px 0px 3px;
}

.olPopupCloseBox:AFTER {
	color: #f00;
	content: '✖';
}

/* map */
#map {
	position: absolute;
	width: 100%;
	top: 50px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

#map-menu {
	border-radius: 0px;
}

#map-menu-search {
	margin-bottom: 0px;
}

#map-menu-scale {
	text-align: center;
}

#indexMap {
	background: none;
	background-repeat: no-repeat;
	background-size: 100%;
}

#indexMapDiv {
	position: absolute;
	right: 20px;
	bottom: 20px;
	background: white;
	z-index: 29;
	opacity: 0.7;
}

#indexMapToggle {
	position: absolute;
	display: block;
	right: 20px;
	bottom: 20px;
	z-index: 30;
	opacity: 0.5;
}

#indexMapToggle:focus {
	outline: 0;
}

#map #tbFcltInfo, #map #tbEventInfo {
	margin-bottom: 5px;
}